// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #eff5f7;
}
.navbar {
  background-color: white;
  border-bottom: 1px solid #dddddd;
  height: auto;
  font-size: 20px;
  display:flex;
  flex-grow: 1;
  .logo{
    border-right: 1px solid #dddddd;
    a{
      text-decoration: none;
      color: #5D7078;
      padding: 10px;
      display: block;
    }
  }
  .right{
    display:flex;
    justify-content: flex-end;
    flex-grow: 1;
    .right-nav{
      display: flex;
      border-left: 1px solid #dddddd;
      cursor: pointer;
      a{
        display: block;
        text-decoration: none;
        padding: 10px;
        color: #5D7078;
      } #login, #logout{
        border-left: 1px solid #dddddd;
      }
    }

  }

}

// header:after {
//   content: "";
//   display: block;
//   clear: both;
// }


// .login-form-container{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   vertical-align: middle;
// }
// .login-form-box{
//   border: 1px solid lightgray;
//   width: 300px;
//   float: center;
//   padding: 10px;
//   margin: 10px;
// }
// header{
//   background-color: transparent;
//   background-color: gray;
//   display: flex;
//   height: auto;
//   a {
//     text-decoration: none;
//     font-size: 15px;
//     font-weight: bold;
//     vertical-align: middle;
//   }
//   h1{
//     margin: 10px;
//   }
// }
// .login-signup {
//   ul{
//     display: flex;
//     align-items: right;
//     justify-content: flex-end;
//     vertical-align: middle;
//     li{
//       padding: 10px;
//       list-style: none;
//       cursor: pointer;
//       margin: 10px;
//       border: 1px solid white;
//     }
//   }
// }
